#map {
	width: 100%;
	height: 100%;
}

#event {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #FFFFFF;
	display: none;

	padding: 20px;
}

#close-event {
	float: right;
}

#close-event:hover {
	cursor: pointer;
}