html
  head
    title Office Events
    link(rel='stylesheet', href='/public/css/main.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    style.
      body {
        padding: 50px;
      }
  body
    h4 Please authorize this application to access events from your Office Calendar
    a.waves-effect.waves-light.btn.blue.darken-1(href=authLink) Authorize

  script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
